mrbase.oauth
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/C063C9F6/console06/INDEX001
.Rproj.user/C063C9F6/pcs/debug-breakpoints.pper
.Rproj.user/C063C9F6/pcs/files-pane.pper
.Rproj.user/C063C9F6/pcs/source-pane.pper
.Rproj.user/C063C9F6/pcs/windowlayoutstate.pper
.Rproj.user/C063C9F6/pcs/workbench-pane.pper
.Rproj.user/C063C9F6/rmd-outputs
.Rproj.user/C063C9F6/saved_source_markers
.Rproj.user/C063C9F6/sources/per/t/4BF32D57
.Rproj.user/C063C9F6/sources/per/t/4BF32D57-contents
.Rproj.user/C063C9F6/sources/per/t/5D9A84D9
.Rproj.user/C063C9F6/sources/per/t/5D9A84D9-contents
.Rproj.user/C063C9F6/sources/per/t/8BFB9527
.Rproj.user/C063C9F6/sources/per/t/8BFB9527-contents
.Rproj.user/C063C9F6/sources/per/t/D2CAE70A
.Rproj.user/C063C9F6/sources/per/t/D2CAE70A-contents
.Rproj.user/C063C9F6/sources/per/t/F1641F75
.Rproj.user/C063C9F6/sources/per/t/F1641F75-contents
.Rproj.user/C063C9F6/sources/prop/1CC643E3
.Rproj.user/C063C9F6/sources/prop/6098CE90
.Rproj.user/C063C9F6/sources/prop/724D9758
.Rproj.user/C063C9F6/sources/prop/C4876E82
.Rproj.user/C063C9F6/sources/prop/EFDA2F9B
.Rproj.user/C063C9F6/sources/prop/INDEX
.Rhistory
.RData
*.Rproj
